
<head runat="server">
    <style>
        .btn-space {
            margin-left: -5%;
            background-color: cornflowerblue;
            font-size: large;
        }
    </style>
</head>

<body>
    <script src="~/Scripts/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script type="text/javascript">


        var app = angular.module("InstitutrFinderApplication", []);
        app.controller("Collegecntrl", function ($scope, $http, $window, $filter) {
            debugger;

            //Get All  Data
            $scope.GetAllData = function () {
                $http({
                    method: "get",
                    url: "https://localhost:44363/College/Get_AllCollege"
                }).then(function (response) {
                    $scope.college = response.data;
                }, function () {
                    alert("Error Occur");
                })
            };

            //redirect page on selected row
            $scope.idSelectedVote = null;
            $scope.setSelectedRow = function (idSelectedVote) {
                $scope.idSelectedVote = idSelectedVote;
                //$location.path('/Home/Course.cshtml');
                $window.location.href = '/Home/Course?ID=' + idSelectedVote ;
            };

            //print div data
            $scope.printDiv = function (divName) {
                var printContents = document.getElementById(divName).innerHTML;
                var popupWin = window.open('', '_blank', 'width=300,height=300');
                popupWin.document.open();
                popupWin.document.write('<html><head><link rel="stylesheet" type="text/css" href="style.css" /></head><body onload="window.print()">' + printContents + '</body></html>');
                popupWin.document.close();
            }

            //export div data
            $scope.getDatetime = null;
            $scope.exportdiv = function (divName) {
                html2canvas(document.getElementById(divName), {
                    onrendered: function (canvas) {
                        var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 500
                            }]
                        };
                        //getDatetime = new Date();
                        var date = new Date();
                        getDatetime = $filter('date')(new Date(), 'HH:mm:ss');
                        pdfMake.createPdf(docDefinition).download(getDatetime + "CourseData.pdf");
                    }
                });
            }

        });

    </script>
</body>

<div ng-app="InstitutrFinderApplication">
    <div ng-controller="Collegecntrl" ng-init="GetAllData()" class="divList">


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Institute Finder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">About US <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#" ng-click="printDiv('CollegeData');">Print Data <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#" ng-click="exportdiv('CollegeData')">Export Data <span class="sr-only">(current)</span></a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="searchText">
                </form>
            </div>
        </nav>

        <div><br /> <br /></div>

        <div name="CollegeData" id="CollegeData">

            <table cellpadding="12" class="table table-bordered table-hover">
                <tr>
                    <td>
                        <b>CollegeID</b>
                    </td>
                    <td>
                        <b>CollegeName</b>
                    </td>
                    <td>
                        <b>DLINumber</b>
                    </td>
                    <td>
                        <b>Address</b>
                    </td>
                    <td>
                        <b>City</b>
                    </td>
                    <td>
                        <b>Province</b>
                    </td>
                    <td>
                        <b>PostalCode</b>
                    </td>
                    <td>
                        <b>ContactDetails</b>
                    </td>
                    <td>
                        <b>NumOfCourses</b>
                    </td>
                    <td>
                        <b>NumOfCampus</b>
                    </td>
                </tr>
                <tr ng-repeat="Clg in college  | filter:searchText" ng-click="setSelectedRow(Clg.DLINumber)" ng-class="{selected: vote.id === idSelectedVote}">
                    <td>
                        {{Clg.CollegeID}}
                    </td>
                    <td>
                        {{Clg.CollegeName}}
                    </td>
                    <td>
                        {{Clg.DLINumber}}
                    </td>
                    <td>
                        {{Clg.Address}}
                    </td>
                    <td>
                        {{Clg.City}}
                    </td>

                    <td>
                        {{Clg.Province}}
                    </td>

                    <td>
                        {{Clg.PostalCode}}
                    </td>

                    <td>
                        {{Clg.ContactDetails}}
                    </td>

                    <td>
                        {{Clg.NumOfCourses}}
                    </td>

                    <td>
                        {{Clg.NumOfCampus}}
                    </td>
                </tr>
            </table>

        </div>
        @*<div class="form-horizontal" role="form">
                <div class="container">
                    <div class="row">
                        <h2>
                            <span id="spn">Add New Employee</span>
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Name:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Name" ng-model="EmpName">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">City:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="inputPassword" placeholder="City" ng-model="EmpCity">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Age:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="inputLabel3" placeholder="Age" ng-model="EmpAge">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <input type="button" id="btnSave" class="form-control btn-space" value="Submit" ng-click="InsertData()" />
                        </div>
                    </div>
                </div>
            </div>*@
    </div>

</div>
