
<head runat="server">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Lato", sans-serif
        }

        .w3-bar, h1, button {
            font-family: "Montserrat", sans-serif
        }

        .fa-anchor, .fa-coffee {
            font-size: 200px
        }

        #screenFiller {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    <!-- Navbar -->
    <div ng-app="InstitutrFinderApplication" id="screenFiller">
        <div ng-controller="Collegecntrl" ng-init="GetAllData()" class="divList">
            <div class="w3-top">
                <div class="w3-bar w3-red w3-card w3-left-align w3-large">
                    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"></a>
                    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
                    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" ng-click="printDiv('CollegeData');">Print Data</a>
                    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" ng-click="exportdiv('CollegeData')">Export Data</a>
                    <input class="w3-bar-item w3-button w3-padding-large w3-white" type="search" placeholder="Search" aria-label="Search" ng-model="searchText" background="white">
                </div>
            </div>

            <!-- Header -->
            <header class="w3-container w3-red w3-center" style="padding:128px 16px">
                <h1 class="w3-margin w3-jumbo">Institute Finder</h1>
                <p class="w3-xlarge">Find Institute Here</p>
            </header>

            <!-- First Grid -->
            <div class="w3-row-padding w3-padding-64 w3-container">
                <div name="CollegeData" id="CollegeData">

                    <table cellpadding="12" class="table table-bordered table-hover">
                        <tr>
                            <td>
                                <b>ID</b>
                            </td>
                            <td>
                                <b>College Name</b>
                            </td>
                            <td>
                                <b>DLINumber</b>
                            </td>
                            <td>
                                <b>Address</b>
                            </td>
                            <td>
                                <b>City</b>
                            </td>
                            <td>
                                <b>Province</b>
                            </td>
                            <td>
                                <b>PostalCode</b>
                            </td>
                            <td>
                                <b>Contact</b>
                            </td>
                            <td>
                                <b>Courses</b>
                            </td>
                            <td>
                                <b>Campuse</b>
                            </td>
                        </tr>
                        <tr ng-repeat="Clg in college  | filter:searchText" ng-click="setSelectedRow(Clg.DLINumber)" ng-class="{selected: vote.id === idSelectedVote}">
                            <td>
                                {{Clg.CollegeID}}
                            </td>
                            <td>
                                {{Clg.CollegeName}}
                            </td>
                            <td>
                                {{Clg.DLINumber}}
                            </td>
                            <td>
                                {{Clg.Address}}
                            </td>
                            <td>
                                {{Clg.City}}
                            </td>

                            <td>
                                {{Clg.Province}}
                            </td>

                            <td>
                                {{Clg.PostalCode}}
                            </td>

                            <td>
                                {{Clg.ContactDetails}}
                            </td>

                            <td>
                                {{Clg.NumOfCourses}}
                            </td>

                            <td>
                                {{Clg.NumOfCampus}}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

            <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
                <h4>About Us</h4>
                <h6 style="text-align:justify">
                 Institute Finder application helps the student who wants to come to Canada for their higher studies. Using a web-based solution, the student can access all college data and university data using one solution. They can search college, university, and courses based on their criteria such as type, of course, city of college, no of levels in course, using DLI Number, and many more. In case if students want to use filter data for future use/reference then they can use two different functionalities of the web application. Using Export data, students can export the filter data in pdf format and save it for future references. Using Print Data, students can print the filter data for future use and reference.
                </h6>
            </div>
        </div>
    </div>

    <script type="text/javascript">


        var app = angular.module("InstitutrFinderApplication", []);
        app.controller("Collegecntrl", function ($scope, $http, $window, $filter) {
            
            //Get All  Data
            $scope.GetAllData = function () {
                $http({
                    method: "get",
                    url: "https://localhost:44363/College/Get_AllCollege"
                }).then(function (response) {
                    $scope.college = response.data;
                }, function () {
                    alert("Error Occur");
                })
            };

            //redirect page on selected row
            $scope.idSelectedVote = null;
            $scope.setSelectedRow = function (idSelectedVote) {
                $scope.idSelectedVote = idSelectedVote;
                //$location.path('/Home/Course.cshtml');
                $window.location.href = '/Home/Course?ID=' + idSelectedVote;
            };

            //print div data
            $scope.printDiv = function (divName) {
                var printContents = document.getElementById(divName).innerHTML;
                var popupWin = window.open('', '_blank', 'width=300,height=300');
                popupWin.document.open();
                popupWin.document.write('<html><head><link rel="stylesheet" type="text/css" href="style.css" /></head><body onload="window.print()">' + printContents + '</body></html>');
                popupWin.document.close();
            }

            //export div data
            $scope.getDatetime = null;
            $scope.exportdiv = function (divName) {
                html2canvas(document.getElementById(divName), {
                    onrendered: function (canvas) {
                        var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 500
                            }]
                        };
                        //getDatetime = new Date();
                        var date = new Date();
                        getDatetime = $filter('date')(new Date(), 'HH:mm:ss');
                        pdfMake.createPdf(docDefinition).download(getDatetime + "CourseData.pdf");
                    }
                });
            }

        });

    </script>


</body>

